include Mixins/Native/HandlebarsCondition.pug
include Mixins/Native/HandlebarsHelper.pug
include Mixins/Native/HandlebarsIteration.pug

include Mixins/YamatoDaiwaHandlebarsExtensions/AreStringsEqual.pug
include Mixins/YamatoDaiwaHandlebarsExtensions/HandlebarsCase.pug
include Mixins/YamatoDaiwaHandlebarsExtensions/HandlebarsSwitch.pug
